name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Make lint
        run: make lint
      - name: Make test
        run: make test
      - name: Make demo
        run: make demo
